.row{
  margin: 0px;
  padding:0px;
      
}


#wrap {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/interieur.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat:no-repeat;

    -o-background-size: cover;

      width: 100%;
      height:780px;
    }








/*****************************************************/

#myNavbar{


}






/**************hamburger***********************/
#burger{

 background-color:#DAB270;
 border: none;
 margin: 0px;
}

/***animate burger****/
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/**************hamburger***********************/










      /*********STYLE NAV BAR***************/

      #colornavbar{
        background-color: transparent;
        border: none;
        font-size: 18px;
        color: white;
      }

      #positionNav{
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 50px;
z-index: 3000;
      }


#bgNavbar{
background-color: transparent;
margin-right: 10px;
}

/**********MEDIA SCREEN COLLAPSE****************************/


 

/**************style menu haut et sous menu Apropos et contact*******************************************/

#menuApropos {

margin-right: 10px;
  font-size: 18px;
  color:white;

}

#menuApropos a {
background-color: #DAB270;
margin-right: 10px;
  font-size: 18px;
  color:white;
    font-family: 'El Messiri', sans-serif; 

        -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#menuApropos a:hover {
background-color:white;

  font-size: 18px;
  color: #DAB270;
}



#caret{
  text-align: center;
  margin-right: 10px;
  margin-left: 25px;
  font-size: 24px;

}






/*dropmenu*/
#dropdown-menu{
background-color:transparent;
border:none;
box-shadow: none;
}
#dropdown-menu{
background-color:transparent;

}
#dropdown-menu li a{
background-color: #DAB270;
margin-bottom: 5px;
}
/*********************************/

#colorApropos a{
font-family: 'El Messiri', sans-serif;
font-size:18px; 
color:white;
background-color:#DAB270; 

}
#colorApropos a:hover{
font-family: 'El Messiri', sans-serif;
font-size:18px; 
color:#DAB270; 
background-color: white;

}


/****color picto menu counter-reset: au**/
#coloriconHome a{
font-size:24px; 
color:white; 
background-color:#DAB270;
margin-right: 10px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;

}

#coloriconHome a:hover{
font-size:24px; 
color:#DAB270; 
background-color:white;
}


/*****reseaux sociaux***/
#coloriconfa{


}

#coloriconfa a{
  font-size:20px; 

 background-color:#1b1816;

margin-right: 10px;
padding-left: 20px;
padding-right: 20px;

}

#coloriconfa a:hover{
background-color:#DAB270; 

}





      /*********BANDEAU LOGO ET FOND NOIRTRANSPARENT***************/
      #bandeaunoir{
        width: 100%;
        display: block;
        height: 448px;
        position: absolute;
        bottom: 0px;

        background-color: rgba(0, 0, 0, 0.7);
    
        margin-left: 0px;
        margin-right: 0px;

        padding-right: 0px;
        padding-left: 0px;
      


      }

      #bandeaulogo{
        width: 100%;
    
        /**height: 224px;**/
        background-color: black;

        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        padding-right: 0px;
        padding-left: 0px;

      }

      #logointro{
        margin-right: auto;
        margin-left: auto;

      }
/*****************MENU PARTICULIER-ENTREPRISE**********************************/
      #menuservice{

           max-width: 980px;
            margin-right: auto;
        margin-left: auto;
      
       
      }

      #menu2{       
       list-style-type: none;
           max-width: 980px;
     text-align: center;
      }

      #menu2 span a{
 
        font-family: 'El Messiri', sans-serif;
      font-size: 36px;
      color: white;
      text-align: center;
   
 
     
    
      }
      


      #menu2 a:hover{
        text-decoration: none;
        color: #DAB270;

      }


  
/********************INDEX FLECHE SCROLL*********************************/
#flechescroll{ 
  margin-top: 50px;
         margin-right: auto;
        margin-left: auto;
text-align: center;

}

#flechescroll a{   
       text-decoration: none;
       color: white;
        font-size: 24px;
}

#flechescroll a:hover{   
             color: #DAB270;   
}


      /****************/

/****A PRENDRE**********HOME DEBUT PARTIE SALON / AVANT APRES *************/

#accueil{
padding-top: 85px;
height: 780px;
max-width: 980px;

}



#bienvenue{

margin-left: auto;
margin-right: auto;
max-width: 980px;
padding: 0px;

}

#salon{
/**border-style: solid;**/
 border-width: 1px;
 border-color: white;
 padding: 25px;
 padding-bottom: 20px;

}


#photosalon{
height: 290px;
  background-image: url("../img/home_slide/photo_salon.jpg");
  background-repeat: no-repeat;
   padding: 25px;
   margin-bottom: 20px;
 padding-bottom: 20px;
 background-size:110%;
}

.titre-salon{
    color: #DAB270;   
        font-family: 'El Messiri', sans-serif;
  margin: 0px;
  padding: 0px;

}

#paragraphe-salon{
  margin: 0px 0px 10px 0px;

  padding: 0px;

}
/********slide avant apores*****/

#slide{
/**border-style: solid;**/
 border-width: 1px;
 border-color: white;
 padding: 25px;
 padding-bottom: 20px;

}

.titre-slide{
  color: #DAB270;   
  font-family: 'El Messiri', sans-serif;
  margin: 0px;
  padding: 0px;

}



#btn-look{float: right;}

/****button animate css**/
.button {
  vertical-align:middle;
  border-radius: 5px;
  border: none;

  display: inline-block;
  background-color:#DAB270;   
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  /**width: 200px;**/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button span a{
text-decoration: none;
color:white;
}



/**************HOME FIN PARTIE SALON*************/

 



@media (min-width: 320px) and (max-width: 650px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in { 
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }


}