.imagefond-entreprises
{
  background-image: url("../img/entreprises/banEntreprises.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin: 0 0 600px 0;
}

@media screen and (max-width: 770px)
{
  .imagefond-entreprises
  {
    background-position: 60% 50%;
    margin: 0 0 600px 0;
  }
}

.prestationRelooking
{
  margin-top: 75px;
  font-size: 30px;
  font-family: 'El Messiri', sans-serif;
}

@media screen and (max-width: 770px)
{
  .prestationRelooking
  {
    margin-top: 70px;
    font-size: 25px;
  }
}

.separator
{
  height: 3px;
  width: 100%;
  background-color: goldenrod;
  border: none;
}

#accordion
{
  margin-bottom: 75px;
}

@media screen and (max-width: 770px)
{
  #accordion
  {
    margin-bottom: 750px;
  }
}

.bloc-info
{
  background-color: rgba(71,60,53,0.7); /*#473c35*/
  margin-top: 140px;
  margin-bottom: 25px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 770px)
{
  .bloc-info
  {
    margin-bottom: 75px;
    font-size: 14px;
    width: 100%;
  }
}

.italique
{
  font-style: italic;
}

.btn-success, .btn-primary
{
  font-size: 12px;
}

h3, h4
{
  color: black;
}

h2, h3, h4
{
  font-family: 'El Messiri', sans-serif;
}

a#cRetour
{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(227, 193, 57, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

a#cRetour:before
{
  content: "\25b2";
}

a#cRetour:hover
{
  background:darkgoldenrod;
  opacity:1;
  transition:all ease-in 0.2s;
}

a#cRetour.cInvisible
{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible
{
  bottom:20px;
  opacity:1;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: darkgoldenrod;
  border: solid 2px goldenrod;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 2px;
  width: 75%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 1000px)
{
  .button
  {
    width: 100px;
  }
}




