
.partenaire{
	background-color: black;
	padding: 20px;

}

.footer h4{
    color:#DAB270;
}

.m-partenaires{
	margin-left: 17px;
	margin-bottom: 20px;

}

footers ul{
  list-style-type: none;
  padding:0px;
}

li a.footer-a{
	color: white; 
	text-decoration: none;
}

.m-footer{
	margin-top: 95px;
}