
.imagefond
{
    background-image: url("../img/particuliers/banParticuliers.jpg");
    background-repeat: no-repeat;
    background-position: 30% 10%;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
    width: 100%;
    margin: 0 0 50px 0;
}

@media screen and (max-width: 770px)
{
    .imagefond
    {
        background-position: 60% 50%;
    }
}

#buttonfemmes, #buttonhommes
{
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: underline white;
    font-family: 'El Messiri', sans-serif;
}

@media screen and (max-width: 770px)
{
    #buttonfemmes, #buttonhommes
    {
        text-align: center;
        font-size: 25px;
    }
}

#textFemmes
{
    margin-top: 10px;
    padding-right: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#textHommes
{
    margin-top: 10px;
    padding-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 770px)
{
    #textFemmes, #textHommes
    {
        font-size: 15px;
    }
}

#femmes, #hommes
{
    color: goldenrod;
    font-size: 30px;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
}

@media screen and (max-width: 770px)
{
    #femmes, #hommes
    {
        font-size: 20px;
    }
}

#containerStyle
{
    margin-top: 15px;
    margin-bottom: 50px;
    color: darkgoldenrod;
    text-align: center;
    font-size: 40px;
    text-decoration: underline darkgoldenrod;
    font-family: 'El Messiri', sans-serif;
}

@media screen and (max-width: 770px)
{
    #containerStyle
    {
        margin-bottom: 10px;
        font-size: 30px;
    }
}

.prestationRelooking
{
    margin-top: 75px;
    font-size: 30px;
    font-family: 'El Messiri', sans-serif;
}

@media screen and (max-width: 770px)
{
    .prestationRelooking
    {
        font-size: 25px;
    }
}

.moyenPaiement
{
    font-style: italic;
}

.separator
{
    height: 3px;
    width: 100%;
    background-color: goldenrod;
    border: none;
}

.bloc-transparent
{
    height: 300px;
    width: 70%;
    margin: auto;
    margin-top: 75px;
    padding: 30px 30px 30px 30px;
    background-color: rgba(71,60,53,0.7); /*#473c35*/
    text-align: center;
}

@media screen and (max-width: 770px)
{
    .bloc-transparent
    {
        font-size: 14px;
        width: 100%;
    }
}

.titrePrestation
{
    color: goldenrod;
}

p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2, h3, h4
{
    font-family: 'El Messiri', sans-serif;
}

a
{
    color:white;
}

a:hover
{
    color:darkgoldenrod;
}

a#cRetour
{
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(227, 193, 57, 0.25);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#cRetour:before
{
    content: "\25b2";
}

a#cRetour:hover
{
    background:darkgoldenrod;
    opacity:1;
    transition:all ease-in 0.2s;
}

a#cRetour.cInvisible
{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#cRetour.cVisible
{
    bottom:20px;
    opacity:1;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: darkgoldenrod;
    border: solid 2px goldenrod;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    width: 75%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 1000px)
{
    .button
    {
        width: 100px;
    }
}





