/* Main carousel style */
.carousel {
    width: 100%;
    padding-bottom: 200px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
    padding-bottom: 150px;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    /*height: 54px;*/
    margin-bottom: 5px;
    margin-left: 32px;
    margin-right: 5px !important;
    margin-top: 0;
    width: 230px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    /*height: 54px;*/
    left: 0;
    width: 230px;
}

/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}


/* --------------------------------------------------------------------------- */

h1, h2, h3, h4, h5 {
    font-family: 'Expletus Sans', cursive;
    font-family: 'El Messiri', sans-serif;
    zzfont-family: 'Titillium Web', sans-serif;
}

h1 { text-shadow: 4px 4px 4px #222; }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    color:            #999;
    background-color: #1F2228;
    padding-top: 70px;
    font-size: 16px;
    background-image: url(../img/portefolio/orn_03-2.png);
    background-repeat: no-repeat;
    background-position: 100px 450px;
}

hr {
    border: 0;
    height: 0;
    border-top:    1px solid rgba(  0,   0,   0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width:  100%;
  height: 200px;
  background-color: #282C34;
  padding-top: 40px;
}


#portefolio { padding-bottom: 300px }

/* CUSTOMIZE THE NAVBAR
----------------------------------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top:   0;
    right: 0;
    left:  0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left:  0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left:  15px;
}
.navbar-wrapper .navbar .container ( width: auto; }


.panel-default,
.panel-body,
.panel {
    border-color:     #000;
    background-color: #282C34;
}


/* RESPONSIVE CSS
----------------------------------------------------------------------------- */
/*
@media (min-width: 768px) {
    /* Navbar positioning foo * /
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners * /
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
@media (min-width: 992px) {}
*/
