<div  id="contentformulaire" class="container-fluid">
<div id="content" class="row">
    <div id="form1" class="col-sm-12 col-md-12 col-lg-12 ">

      <!--FORMULAIRE PARTIE ADRESSE et COORDONNEES + CARTE GOOGLE-->
      <div class="row">
        <div id="coordonnees" class="col-xs-12 col-sm-4 col-md-4  col-lg-4">
          <span id="icon" class="glyphicon glyphicon-home"></span>
          <p id="identite">{{coordonnees.identite}}</p></div>

          <div id="adresse" class="col-xs-12 col-sm-4 col-md-4  col-lg-4">
            <p ><big><big>{{coordonnees.name}}</big></big><br/>{{coordonnees.adresse}}<br/>{{coordonnees.ville}}</p>
          </div>

          <div id="phone" class="col-xs-12 col-sm-4 col-md-4  col-lg-4">
            <div><span id="icon" class="glyphicon glyphicon-earphone"> </span>
             <p id="telephone">{{coordonnees.telephone}}</p>
           </div>

           <div id="email">
             <span id="icon-mail"><a data-email="contact@look4me.fr" href="mailto:"contact@look4me.fr" class="glyphicon glyphicon-envelope"></a> </span>
             <p id="message"><a data-email="contact@look4me" href="mailto:"contact@look4me.fr">{{coordonnees.email}}</a></p>
           </div>
         </div>



       </div>

       <div class="row">
         <div id="cartegooglemap" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
           <h1 class="situation">Me situer</h1>
           <!--<div id="map"></div>-->
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.6047776791293!2d1.491279651084609!3d48.44492467914737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e40c4bef6ba155%3A0xa8518581ae536c66!2s7+Rue+de+la+Foulerie%2C+28000+Chartres!5e0!3m2!1sfr!2sfr!4v1476360390880" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
       </div>
     </div>


     <!--FORMULAIRE PARTIE CONTACT-->
     <div id="form2" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " >
       <h2 class="contact">CONTACT</h2>

       <div class="row">
         <div  id="form-zone" class="col-xs-12 col-sm-12 col-md-12  col-lg-12">

          <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate id="formcolor" role="form">
           <div class="row">
             <div class="col-sm-6 col-md-6">
               <!--NAME-->
               <div class="form-group">
                <input class="form-control" type="text" placeholder="Votre nom" name="name" ng-model="user.name" required>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
             <!--USERNAME-->
             <div class="form-group">
              <input class="form-control" type="text" placeholder="Votre prénom" name="username" ng-model="user.username">
            </div>
          </div>
          <br/>
          <div class="col-md-12">

            <!-- EMAIL -->
            <div class="form-group">                
             <input type="email" name="email" class="form-control" ng-model="email">
           </div>
         </div>
       </div>




       <div  id="votrestatut"  class="row">
         <div class="col-xs-12 col-sm-12 col-md-12">
          <span class="statut">Précisez votre statut :</span><br>

          <div class="radio col-sm-4 col-md-4 col-lg-4">
            <p><input type="radio" name="choix" value="particulier" id="particulier" /> 
              <label for="particulier">Particulier</label></p>

              <p> <input  type="radio" name="choix" value="entreprise" id="entreprise" /> 
               <label for="entreprise">Entreprise</label>
             </p>
           </div>
           <div id="menuderoulant" class="col-xs-12 col-sm-8 col-md-8">
             <h1 class="listederoulante">Raison de l'envoi</h1>

             <div id="liste-particulier" class="form-group" >
              <select class="form-control" id="subject" name="deroulant-particulier">
                <option selected value="na">
                  Choisissez une prestation :
                </option>

                <option value="service">
                  Total Relooking
                </option>

                <option value="suggestions">
                  Relooking coiffure
                </option>

                <option value="product">
                  Relooking visage
                </option>

                <option value="product">
                  Relooking stylisme
                </option>

                <option value="product">
                  Autre
                </option>
              </select>
            </div>
          </div>


        </div>
      </div>
      <div id="blocmessage" class="col-sm-12 col-md-12">
       <div class="form-group">
        <label for="comment">Votre message</label>
        <textarea ng-model="formContact.contact.message" class="form-control" rows="4" id="comment"></textarea>
        <a href="#"><button ng-disabled="userForm.$invalid" class="button pull-right voffset3" type="submit" value="Envoyer"><span>Envoyer</span></button></a>
      </div>
    </div>

  </form>
</div>
</div>

</div>

</div>
</div>
<script>
  function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>