<div class="container" style="width:75%; margin-bottom:40px; margin-top: 80px;" id="legacy">
<h1>Notice légale</h1>
<p><em>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a href="http://look4me.fr">www.look4me.fr</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</em></p>

<p><strong>Éditeur du site</strong> :</p>

<p>Ce site est la propriété de la SAS LOOK4ME, au capital de XXX XXX &euro;, inscrite au registre du commerce et des sociétés de Chartres, sous le numéro B XXX XXX XXX, dont le siège social est situé au 7 rue de la Foulerie - 28000 CHARTRES. </p>

<p><strong>Responsable de publication</strong> :</p><p> Natacha Tilmant – contact@look4me</p>
<p><strong>Hébergeur</strong> :</p>
<p>OVH SARL – 140 Quai du Sartel - Roubaix (59000)</p>

<p><strong>Auteur du site</strong> :</p>
<p><a href="http://www.wildcodeschool.fr">WILD CODE SCHOOL</a> - CHARTRES</p>

<p><strong>Droit d'auteur - copyright :</strong></p>
<p>Les contenus de ce site, les images et textes, sont la propriété de la société SAS LOOK4ME. Toute reproduction totale ou partielle de ce site est interdite sans autorisation expresse et préalable de son propiétaire.</p>

<p><strong>Confidentialité :</strong></p>
<p>Look4me.fr respecte la loi informatique et libertés.<br/>
Conformément à la loi Informatique et Libertés en date du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui vous concernent. Vous pouvez exercer ce droit en nous envoyant un email à : contact@look@me.fr.</p>

<p><strong>Crédits Photos :</strong></p>
<p>Ce site utilise des photos de la bibliothèque : <a target="" href="https://pixabay.com">Pixabay</a>.</p>
</div>
