  body{
   background-color: black;
   color:white;

}

.navbar{
      
     background-color:transparent;
     margin-bottom:  0px;
     border: none;
     margin-right: 20px;
}

.nav-color .nav > li> :nth-of-type(1){
	font-size: 20px;
	color: white;
}

.nav-color .nav > li> span:nth-of-type(2){
	color: white;

}

/*.nav-color .nav > li> span:nth-of-type(3){
	color: white;
}
.nav-color .nav > li> span:nth-of-type(4){
	color: white;

}
.nav-color .nav > li> span:nth-of-type(5){
	color: white;
}*/


.votre_code{
	height: 490px;
}
/* partie image plein ecran */



.img{
	background-image: url(image/photo_home.jpg);
	background-size: cover;
	height: 700px;
}

#pading-text-quote{
	padding-bottom: 100px;
	padding-top: 200px;
	color: white;
	font-size: 50px;
	 text-align: center;
}

.padding-p{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 30px;
}

.padding-p-3{
	padding-left: 0px;
	padding-top: 10px;
	font-size: 30px;
}



.scroll{
	padding-left: 100px;
	padding-top: 20px;
}

/****A PRENDRE**********HOME DEBUT PARTIE SALON / AVANT APRES *************/

#accueil-3{
padding-top: 30px;
height: 650px;
background-color:#57463c;
}

#border{
border-style: solid;
 border-width: 1px;
 border-color: white;
 padding: 25px;
 padding-bottom: 35px;

}


.titre-salon{
	margin: 0px;
	padding: 0px;

}
.paragraphe-salon{
	padding-top: 15px;

}

#btn-look{

float: right;

}




/**************HOME FIN PARTIE SALON*************/

 /* footer */

 .footer{
 	background-color: rgb(206, 207, 202);
 	height: 160px;
 }

 .partenaire{
 	padding-top: 25px;
 	padding-bottom: 20px;
 	padding-left: 45px;
 }

.notice{
	padding-left: 120px;
}
