<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Look4Me - Page Particuliers</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/particuliers.css">
	<link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700" rel="stylesheet">

	<!-- jQuery  -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- js-->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
	<script type="text/javascript" src="js/particuliers.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body ng-app="look4meApp" ng-controller="particuliersController">
	

	<div class="container-fluid padding-0">
		<nav class="navbar navbar-default" id="jean_michel">

			<div class="navbar-header">
				<a class="navbar-brand" href="#"><p><img src="img/logo/logov3_maq_blanc_rose.png" alt=""></p></a>
			</div>

			<div class="nav-color">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><p>Particuliers</p></a></li>
					<li><a href="#"><img src="" alt=""><p></p></a></li>
					<li><a href="#"><p>Entreprises</p></a></li>
					<li><a href="#"><img src="" alt=""><p></p></a></li>
					<li><a href="#"><p>Avant/Après</p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li><a href="#"><p></p></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apropos<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Presentation</a></li>
							<li><a href="#">Presse/News</a></li>  
						</ul>
					</li>
					<li><a href="#"><p>Contact</p></a></li>
				</ul>
			</div>
		</nav>  
	</div>



	<!-- votre code -->
	<a name="haut" id="haut"></a>


	<div class="imagefond">
		<div class="row">
			<div class="bloc-transparent">
				<!-- ACCUEIL CHOIX FEMMES ou HOMMES -->
				<div id="buttonfemmes" class="col-lg-6 col-xs-6"><a data-toggle="tab" href="#menu1">FEMMES</a></div>
				<div id="buttonhommes" class="col-lg-6 col-xs-6"><a data-toggle="tab" href="#menu2">HOMMES</a></div>
				<div id="textFemmes" class="col-lg-6 col-xs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend ultrices turpis, in porttitor</div>
				<div id="textHommes" class="col-lg-6 col-xs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend ultrices turpis, in porttitor</div>
			</div>
		</div>
	</div>

	<div class="container">

		<!-- SYSTEME D'ONGLETS -->
		<ul class="nav nav-tabs">
			<li id="femmes" class="active"><a data-toggle="tab" href="#menu1">FEMMES</a></li>
			<li id="hommes"><a data-toggle="tab" href="#menu2">HOMMES</a></li>
		</ul>

		<div class="tab-content">
			<div id="menu1" class="tab-pane fade in active">
				<!-- PRESTATIONS FEMMES -->
				<div class="prestationRelooking">Nos prestations RELOOKING</div>
				<p class="moyenPaiement">Comme moyen de paiement, vous pouvez régler au choix, par chèque ou en espèce.</p>
				<hr class="separator">
				
				<!-- Prestations Femmes-->
				<div class="row" ng-repeat="service in servParticuliers">
					<div ng-if="service.genre == 'F'">
						<div class="col-md-4 col-sm-4"><img class="img-responsive" src="{{service.img}}" alt="{{service.alt}}"></div>
						<div class="col-md-6 col-sm-6">
							<h3 class="titrePrestation">{{service.titre}}</h3>
							<p>{{service.description}}</p>
						</div>
						<div class="col-md-2 col-sm-2">
							<h3>TARIFS</h3>
							<h4>{{service.tarif}}</h4>
							<a href="contact.html"><button class="button"><span>contact</span></button></a>
						</div>
						<div class="col-md-12"><hr></div>
					</div>
				</div>
			</div>

			<div id="menu2" class="tab-pane">

				<!-- PRESTATIONS HOMMES -->
				<div class="prestationRelooking">Nos prestations RELOOKING</div>
				<p class="moyenPaiement">Comme moyen de paiement, vous pouvez régler par chèque ou carte bancaire, au choix.</p>
				<hr class="separator">
				
				<!-- Prestations Hommes-->
				<div class="row" ng-repeat="service in servParticuliers">
					<div ng-if="service.genre == 'H'">
						<div class="col-md-4 col-sm-4"><img class="img-responsive" src="{{service.img}}" alt="{{service.alt}}"></div>
						<div class="col-md-6 col-sm-6">
							<h3 class="titrePrestation">{{service.titre}}</h3>
							<p>{{service.description}}</p>
						</div>
						<div class="col-md-2 col-sm-2">
							<h3>TARIFS</h3>
							<h4>{{service.tarif}}</h4>
							<a href="contact.html"><button class="button"><span>contact</span></button></a>
						</div>
						<div class="col-md-12"><hr></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div><a id="cRetour" class="cInvisible" href="#haut"></a></div>
	<!-- fin de votre code -->
	<br><br><br><br><br><br>


	<script src="js/app.js"></script>
	<script src="js/particuliersController.js"></script>

</body>
</html>


