<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Photos avant-après relooking - Look4Me</title>
    <meta name="description" content="Notre galerie photos avant-après travail sur le style, maquillage, coiffure - suivie de témoignages">
    <meta name="author" content="Wild Code School - Chartres">
    <link rel="icon" href="favicon.ico">

    <!-- Bootstrap styles -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Common -->
    <link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">

    <!-- Portefolio custom styles -->
    <link href="css/portefolio.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<code> * * * * *  H E A D E R  * * * * * </code>

<!-- begin: Portefolio Content
======================================================================== -->
<div id="wrapper" class="container-fluid" ng-app="look4meApp" ng-controller="portefolioController">

    <div class="row">

        <!-- CAROUSEL -->

        <div class="container">

            <h1>Avant - Après <small>portefolio</small></h1>
            <div class="row">
                <div id="pfCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <!-- ng-repeat avec classe active sur 1ère itération -->
                        <div ng-class="{item: true, active: ($index === 0)}" ng-repeat="image in portefolio.images">

                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/portefolio/{{image.img[0]}}"
                                    class="img-responsive" alt="{{image.alt}} - avant">
                                </div>
                                <div class="col-md-6">
                                    <img src="img/portefolio/{{image.img[1]}}"
                                    class="img-responsive" alt="{{image.alt}} - après">
                                </div>
                            </div>
                        </div><!-- /ng-repeat -->

                        <!-- Controls -->
                        <a class="left carousel-control" href="#pfCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="right carousel-control" href="#pfCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!-- end:Controls -->

                    </div><!-- /.carousel-inner -->

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <!-- Indicators -->
                            <div class="carousel-img-indicators">
                                <!-- ng repeat avec classe 'active' sur la 1ère itération -->
                                <div ng-repeat="image in portefolio.images"
                                    ng-class="{'col-md-1': true, active: ($index === 0)}">
                                    <img src="img/portefolio/{{image.img[1]}}" data-target="#pfCarousel" data-slide-to="{{$index}}" class="img-responsive" />
                                </div><!-- /ng-repeat -->

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <!-- ng-repeat avec classe 'active' sur la 1ère itération -->
                                    <li ng-repeat="image in portefolio.images"
                                    ng-class="{active: ($index === 0)}"
                                    data-target="#pfCarousel"
                                    data-slide-to="{{$index}}">
                                    </li><!-- /ng-repeat -->
                                </ol>

                            </div><!-- /.carousel-indicators -->
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel-default -->
                </div><!-- /#pfCarousel -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.row -->

    <div class="row">
        <!-- TESTIMONALS *************************************************** -->

        <div id="testimonials" class="container">
            <h2>Témoignages</h2>
            <div class="row">

                <div ng-repeat="testimonial in portefolio.testimonials" class="col-md-6">
                    <h3>{{testimonial.title}}</h3>
                    {{testimonial.description}}
                </div><!-- /ng-repeat -->

            </div><!-- /.row -->

            <!-- div class="text-center"><img src="img/portefolio/orn_01.png" width="35%" /></div-->
        </div><!-- /#testimonials.container -->
    </div><!-- /.row -->
</div><!-- /#wrapper.container -->
<code> * * * * *  F O O T E R  * * * * * </code>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script>
    var app = angular.module("look4meApp", []);
</script>

<script src="js/portefolioController.js"></script>
</body>
</html>
