
<div class="footer">
  <div class="row partenaire">
    <div class="col-xs-0 col-sm-0 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-3">
      <h4>Mes partenaires</h4>
      <ul>
          <li><a href="http://www.phoxstudiomartino.com/" class="footer-a"><p>Photographe</p></a></li>
          <li><a href="" class="footer-a"><p>Coiffeur femme</p></a></li>
          <li><a href="" class="footer-a"><p>Coiffeur homme</p></a></li>
          <li><a href="" class="footer-a"><p>Bijoux</p></a></li>
      </ul>
    </div>     
    <div class="col-xs-12 col-sm-4 col-lg-3">
          <h4>Me situer</h4>
          
            <p class="color-p-footer">Natacha TILMANT :<br>
            7 Rue de la Foulerie<br>
            28000 Chartres</p>
            <a href="" class="footer-a">Me contacter</a>
          
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3">
          <ul class="m-footer">
            <li><a href="" class="footer-a">2016 (c) Looke4Me | Mention légal</a></li>
            <li><a href="" class="footer-a">Site réalisé par la WildCodeSchool</a></li>
          </ul>
    </div>
       
    </div>
</div>

    
