
<div class="footer">
  <div class="row partenaire">
    <div class="col-xs-0 col-sm-0 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-3">
      <h4>Mes partenaires</h4>
      <ul>
          <li>
            <a href="http://www.phoxstudiomartino.com/" target="_blank" class="footer-a">
              <p class="font-p-partenaire">Photographe: Martino</p>
            </a>
          </li>
          <li>
            <a href="http://www.orcanta.fr/retrouver-boutique-orcanta/" target="_blank" class="footer-a">
              <p class="font-p-partenaire">Boutique: Orcanta</p>
            </a>
          </li>
          <li>
            <a href="http://www.pubeco.fr/annonceur/437330-serge_blanco_chartres-28000-chartres-vetements_pour_hommes_et_femmes.html" target="_blank" class="footer-a">
              <p class="font-p-partenaire">Boutique: Serge Blanco</p>
            </a>
          </li><!--http://sergeblanco.com/?___store=fr&___from_store=fr-->
          <li>
            <a href="https://www.krys.com/opticien/france/eure-et-loir/opticien-chartres/chartres-centre" target="_blank" class="footer-a">
              <p class="font-p-partenaire">Opticien: Krys</p>
            </a>
          </li>
          <li>
            <a href="http://www.pagesjaunes.fr/pros/55958107" target="_blank" class="footer-a">
              <p class="font-p-partenaire">Coiffeur: The barber's</p>
            </a>
          </li>
      </ul>
    </div>     
    <div class="col-xs-12 col-sm-4 col-lg-3">
          <h4>Me situer</h4>
          
            <p class="color-p-footer">Natacha TILMANT :<br>
            7 Rue de la Foulerie<br>
            28000 Chartres</p>
            <a href="#/contact" class="footer-a">Me contacter</a>
          
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3">
          <ul class="m-footer">
            <li><a href="" class="footer-a">2016 (c) Looke4Me | Mention légal</a></li>
            <li><a href="" class="footer-a">Site réalisé par la WildCodeSchool</a></li>
          </ul>
    </div>
       
    </div>
</div>

    
