
   <nav class="navbar navbar-default bg-nav navbar-fixed-top">
   <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" id="burger-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="img/logo/logo-mini.png" class="img-logo-mini-m">
    </div>    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right yolo">
                <li><a href="#/" class="p-fa-home" style="padding: 0px;"><i class="fa fa-home fa-lg background-gold" aria-hidden="true"></i></a></li>
                <li><a href=""></a></li>
                <li class="hover-nav hvr-bounce-to-bottom"><a href="#/particuliers"><p class="color-p-sidr">Particulier</p></a></li>
                <li><a href=""></a></li>
                <li class="hover-nav hvr-bounce-to-bottom"><a href="#/entreprises"><p class="color-p-sidr">Entreprise</p></a></li>
                <li><a href=""></a></li>
                <li class="hover-nav hvr-bounce-to-bottom"><a href="#/portefolio"><p class="color-p-sidr">Avant/Après</p></a></li>
                <li><a href=""></a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" id="abouther" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-menu">
                      <li><a href="#/presentation"><p class="color-p-sidr">Presentation</p></a></li>
                      <li><a href="#/news" class="m-news"><p class="color-p-sidr">Presse/News</p></a></li>  
                    </ul>
                </li>
                <li><a href=""></a></li>
                <li class="hover-nav hvr-bounce-to-bottom"><a href="#/contact"><p class="color-p-sidr">Contact</p></a></li>
                <li><a href="#" class="fa-p-none" style="padding: 0px;  margin-right: 5px; margin-left: 20px;"><i class="fa fa-facebook fa-lg background-gold menu" aria-hidden="true" style="width: 36px;"></i></a></li>
                <li><a href="#" class="fa-p-none" style="padding: 0px; margin-left: 0px;"><i class="fa fa-instagram fa-lg background-gold menu" aria-hidden="true"></i></a></li>
            </ul> 
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


